$primary: #006699;
$bold: bold;
$top-spacing: 25px;
$gray-color: #eee;
$align-center: center;
$size-15: 15px;

h2 {
	font-weight: $bold;
}

ul.list-group li:hover {
	cursor: pointer;
	background: $gray-color;
}

.nwtask {
	margin-top: $top-spacing;
}

.divider {
	margin-top: $top-spacing;
}

.task-headers {
	font-weight: $bold;
	margin-bottom: $size-15;
}

.align-task {
	display: inline-block;
	margin-top: 5px;
}

.no-complete-task {
	margin-top: 10px;
	font-style: italic;
	text-align: $align-center;
}

.modal-title {
	text-align: $align-center;
	font-size: $size-15;
	font-weight: $bold;
	color: #1E64A0;
}

.modal-form {
	width: 100%;
	margin-left: 50px;
}

.clearfix {
	clear: both;
}
